*.out
*Makefile
*.deps
bin/apfel
/bin/apfel-config
*~
config.*
config/*
include/APFEL/FortranWrappers.h
include/APFEL/stamp-h2
libtool
pywrap/setup.py
*.lo
*.o
*.la
*.libs
*.dirstamp
pywrap/build
examples/DISObservables
examples/DISObservablesCxx
examples/LHgridDerivativeProduction
examples/LHgridDerivativeProductionCxx
examples/LHgridProduction
examples/LHgridProductionCxx
examples/ListFunctions
examples/ListFunctionsCxx
examples/Luminosity
examples/LuminosityCxx
examples/SumRules
examples/SumRulesCxx
examples/Tabulation
examples/TabulationCxx
examples/TabulationExternal
examples/TabulationFrag
examples/TabulationFragCxx
examples/TabulationStep
examples/TabulationStepCxx
examples/Timing