*.out
*Makefile
*.deps
autom4te.cache
bin/apfel
/bin/apfel-config
*~
config.*
config/*
include/APFEL/FortranWrappers.h
include/APFEL/stamp-h2
libtool
pywrap/setup.py
*.lo
*.o
*.la
*.libs
*.dirstamp
*.table
*.info
pywrap/build
examples/DISObservables
examples/DISObservablesCxx
examples/LHgridDerivativeProduction
examples/LHgridDerivativeProductionCxx
examples/LHgridProduction
examples/LHgridProductionCxx
examples/ListFunctions
examples/ListFunctionsCxx
examples/Luminosity
examples/LuminosityCxx
examples/SumRules
examples/SumRulesCxx
examples/Tabulation
examples/TabulationCxx
examples/TabulationExternal
examples/TabulationFrag
examples/TabulationFragCxx
examples/TabulationStep
examples/TabulationStepCxx
examples/Timing
examples/CheckAPFEL
examples/CheckAPFELCxx
build/
CTestTestfile.cmake
examples/CMakeFiles/
examples/CTestTestfile.cmake
examples/cmake_install.cmake
lib/libapfel.dylib
lib/_apfel.so